<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
</head>
<body>

  <div th:if="${param.logout}">
	  <p th:text="#{logout.done}"/>
  </div>
  
  <div th:if="${param.error}">
  	<p th:text="#{login.failure}"/>
  </div>
 
  <div>
    <div >
      <h1 th:text="#{login.login.title}">login.login.title</h1>
      <p>m_userテーブル id= 「kono」 password = 1234</p>
      <p>id = 「konono」　password = 1111</p>
    </div>

    <div >
      <div >

        <form  role="form" th:action="@{/login}"  method="post">
        
          <!-- username -->
          <div >
            <label for="username" th:utext="#{login.username}"></label>
            <div >
              <input id="username"  type="text" name="username" value="" required/>
            </div>
          </div>
          
          <!-- password -->
          <div >
            <label for="password" th:text="#{login.password}"></label>
            <div>
              <input id="password"  type="password" name="password" value="" required/>
            </div>
          </div>

          <div>
            <input  type="submit" th:value="#{login.submit}"></input>
          </div>
        </form>

      </div>
    </div>

    <div></div>
  </div>

  <div></div>
</body>

</html>