<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customer.mapper.CustomerMapper">
	<select id="selectIndexAll" resultType="com.customer.bean.CustomerBean">
		
		select * from m_customer
	
	</select>
</mapper>