<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/js/jquery.tablesorter.min.js}"></script>
<title th:text="#{customer.index.title}">customer.index.title</title>
<script>
$(document).ready(function(){
	$('#index-table').tablesorter();
});
</script>
</head>
<body>
<div class="sticky-top" style="background-color: white">
	
	<div class="headerNav">
		<div class="container">
			<div class="row headerNavBox">
			<a class="pull-left" th:href="@{/customer}"><img th:src="@{/images/comsize.png}" width= 120px></a>
			<a style="color: #3366FF"class="col-xs-6 col-sm-3 headerNavBtn center" href="/customer" th:href="@{/customer}" th:text="#{customer.index.title}">
					index
			</a>
			<a style="color: #3366FF"class="col-xs-6 col-sm-3 headerNavBtn center" href="/customer/create" th:href="@{/customer/create}" th:text="#{customer.create.title}">
					create
			</a>
			</div>
		</div>
	</div>
	
	<div class="header">
	</div>
</div>
<div>
	<div class="container ">
		<div class="row">
			<div class="col-xs-12 title">
				<p th:text="#{customer.index.title}" class="title"></p>
			</div>
		</div>
	</div>
</div>
	<div class="container">
		<!-- 削除・空・エラーメッセージを渡されたら表示します(RedirectAttributeで渡される) -->
		
		<p style="color: red" th:if="${errorMessage}" th:text="${errorMessage}">error message</p>
		<p style="color: red" th:if="${deleteMessage}" th:text="${deleteMessage}">delete message</p>
		<p style="color: red" th:if="${emptyMessage}" th:text="${emptyMessage}">empty Message</p>
	</div>

<br>
<div class="container">
	<div class="row">
		<form class="form-inline" action="/customer/search" th:action="@{/customer/search}" method="post" th:object="${customerForm}">
			<div class= "form-group">
			<select class="form-control" name="key" th:field="*{key}" >
				<option value="cust_no" th:text="#{cust_no}"></option>
				<option value="last_nm" th:text="#{last_nm}"></option>
				<option value="first_nm" th:text="#{first_nm}"></option>
				<option value="last_nm_kana" th:text="#{last_nm_kana}"></option>
				<option value="first_nm_kana" th:text="#{first_nm_kana}"></option>
				<option value="gender_cd" th:text="#{gender_cd}"></option>
				<option value="mail_address" th:text="#{mail_address}"></option>
				<option value="tel_no" th:text="#{tel_no}"></option>
				<option value="birth_date" th:text="#{birth_date}"></option>
				<option value="home_address" th:text="#{home_address}"></option>
				<option value="post_number" th:text="#{post_number}"></option>
				<option value="reg_date" th:text="#{reg_date}"></option>
			</select>
			<span>
				<input type="text" class="form-control"  name="keyward"  th:field="*{keyword}" size="30" placeholder="キーワードを入力してください" />	
				<span>
					<input type="submit" class="btn btn-info" value="検索" />
				</span>
			</span>
			</div>
		
		</form>
	</div>
</div>

	
	<div class="container w-100 p-3">
	<div class="row">
	<div class="table-responsive">
	<table class="table table-hover table-sm" id="index-table">
		<thead>
		<tr class="table-info">
			<!-- 文字化け、??～～～??、「□」などが表示される場合、文字コードや半角全角をチェック（特に全角の改行は「□」となって化けて出てくる -->
			
			<th　th:text="#{cust_no}"></th>
			<th th:text="#{last_nm}"></th>
			<th th:text="#{first_nm}"></th>
			<!-- <th th:text="#{last_nm_kana}"></th> -->
			<!-- <th th:text="#{first_nm_kana}"></th> -->
			<th th:text="#{gender_cd}"></th>
			<th th:text="#{mail_address}"></th>
			<th th:text="#{tel_no}"></th>
			<!-- <th th:text="#{birth_date}"></th> -->
			<th th:text="#{home_address}"></th>
			<!-- <th th:text="#{post_number}"></th> -->
			<th th:text="#{reg_date}"></th>
			
		</tr>
		</thead>
		<tbody>
		<!-- Controllerから渡された、Beanが入っているListを取り出し、Beanに格納された各フィールドを表示します -->
		
		<tr th:each="index : ${list}" th:object="${list}">
		
			<td>
				<a href="/customer/${index.cust_no}" th:href="@{/customer/{cust_no}(cust_no=${index.cust_no})}" th:text="${index.cust_no}">1</a>
			</td>
			<td th:text="${index.last_nm}">1</td>
			<td th:text="${index.first_nm}">1</td>
			<!-- <td th:text="${index.last_nm_kana}">1</td> -->
			<!-- <td th:text="${index.first_nm_kana}">1</td> -->
			
			<!-- DB上では性別はIntegerで管理されているのでth:ifを使います -->
			<td>
				<span th:if="${index.gender_cd eq 1}" ><div>男</div></span>
				<span th:if="${index.gender_cd eq 2}" ><div>女</div></span>
				<span th:if="${index.gender_cd eq 3}" ><div>未定義</div></span>
			</td>
			<td th:text="${index.mail_address}">1</td>
			<td th:text="${index.tel_no}">1</td>
			<!-- <td th:text="${index.birth_date}">1</td> -->
			<td th:text="${index.home_address}">1</td>
			<!-- <td th:text="${index.post_number}">1</td> -->
			<td th:text="${index.reg_date}">1</td>
			
				<!--  <a class="btn btn-primary btn-sm" href="/customer/edit/${index.cust_no}" th:href="@{/customer/edit/{cust_no}(cust_no=${index.cust_no})}">編集</a>-->
				<!--  <a class="btn btn-danger btn-sm"href="/customer/delete/${index.cust_no}" th:href="@{/customer/delete/{cust_no}(cust_no=${index.cust_no})}">削除</a>-->
			
		</tr>
		</tbody>
	</table>
	</div>
	</div>
	</div>

<div class="container ">
	<form role="form" id="logout" th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-secondary right">ログアウト</button>
</form>
</div>
<!--	並び替え没コード
	<div class="container">
	<div class="row">
	<div>
		<form  action="/customer/sort" th:action="@{/customer-sort}" method="post" th:object="${customerForm}">
			<div class="input-group">
			<select class="form-control" name="key" th:field="*{key}">
				<option value="cust_no" th:text="#{cust_no}"></option>
				<option value="last_nm" th:text="#{last_nm}"></option>
				<option value="first_nm" th:text="#{first_nm}"></option>
				<option value="last_nm_kana" th:text="#{last_nm_kana}"></option>
				<option value="first_nm_kana" th:text="#{first_nm_kana}"></option>
				<option value="gender_cd" th:text="#{gender_cd}"></option>
				<option value="mail_address" th:text="#{mail_address}"></option>
				<option value="tel_no" th:text="#{tel_no}"></option>
				<option value="birth_date" th:text="#{birth_date}"></option>
				<option value="home_address" th:text="#{home_address}"></option>
				<option value="post_number" th:text="#{post_number}"></option>
				<option value="reg_date" th:text="#{reg_date}"></option>
			</select>
			<select class="form-control" name="sort" th:field="*{sort}">
				<option value="asc">昇順</option>
				<option value="desc">降順</option>
			</select>
			<span class="input-group-btn">
			<input class="btn btn-info" type="submit" value="並び替え">
			</span>
			</div>
		</form>
	</div>
	</div>
</div>  -->
</body>
</html>